extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.pb-3.pt-3
        .row 
            .col-12 
                +box-head("Đặt hàng thành công")
        
        .row 
            .col-12 
                div(class="alert alert-success")
                    | Chúc mừng bạn đã đặt vé máy bay thành công! Hi vọng bạn sẽ có những trải nghiệm tuyệt vời tại VietJetAir.   

        if(order)
            .row 
                .col-12 
                    h4(class="mb-2") Thông tin cá nhân 
                    table(class="table table-borderd")
                        tbody 
                            tr 
                                td Họ tên 
                                td 
                                    b #{order.userInfor.fullName}
                            tr 
                                td Số điện thoại 
                                td 
                                    b #{order.userInfor.phone}
                            tr 
                                td Địa chỉ
                                td 
                                    b #{order.userInfor.address}
                    
        .row 
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT 
                            th Mã đơn vé
                            th Ảnh 
                            th Chuyến bay 
                            th Loại vé
                            th Giá
                            th Ngày đi - Ngày đến
                            th Số lượng
                            th Tổng tiền 
                    tbody 
                        if(order.flights.length > 0)
                            each item, index in order.flights
                                tr 
                                    td #{index+1}
                                    td(colspan="1") #{order.id_order}
                                    td 
                                        if(item.flightInfor.thumbnail)
                                            img(src=item.flightInfor.thumbnail , alt="Chuyến bay 1" width="80px")
                                        else
                                            img(src="/images/avatarAlter/flightAlter.jpg" , alt="Chuyến bay 1" width="80px")
                                    td #{item.flightInfor.title}
                                    td 
                                        if(item.typeTicket=="firstPrice")
                                            p Hạng thương gia
                                        if(item.typeTicket=="ecoPrice")
                                            p Hạng phổ thông
                                        if(item.typeTicket=="businessPrice")
                                            p Hạng kinh doanh
                                        if(item.typeTicket=="vipPrice")
                                            p Hạng VIP
                                    td.vnd-price #{item.price}
                                    td 
                                        div 
                                            span Khởi hành: 
                                            span.date-format #{item.flightInfor.departureDate}
                                            span , #{item.flightInfor.departureTime}
                                        div 
                                            span Đến: 
                                            span.date-format #{item.flightInfor.arrivalDate}
                                            span , #{item.flightInfor.arrivalTime}
                                    td #{item.quantity}
                                    td.vnd-price #{item.totalPrice}
                        
                       
                if(order.totalPrice >0 )
                    div.container.text-right
                        h3(style="display: inline-block;" class="mr-2") Tổng tiền vé:
                        h3.vnd-price(style="display: inline-block;") #{order.totalPrice}