extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    h2(class="mb-4") Thông tin chi tiết tài khoản

    .detail-account 
        .detail-desc-account
            div(class="form-group")
                label(for="fullName") Họ tên *
                input(
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"
                    value=record.fullName
                    readonly
                )
            div(class="form-group")
                label(for="email") Email *
                input(
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    value=record.email
                    readonly
                )
            div(class="form-group")
                label(for="password") Mật khẩu *
                input(
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                )
            div(class="form-group")
                label(for="phone") Số điện thoại
                input(
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    value=record.phone
                    readonly
                )
                //- ////=============== 
            p Quyền truy cập
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="role_admin"
                    name="role_id"
                    value="admin"
                    checked=(record.role_id == "admin" ? true : false)
                    disabled 
                )
                label(for="role_admin" class="form-check-label") Quản trị viên
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="role_content_admin"
                    name="role_id"
                    value="contentAdmin"
                    checked=(record.role_id == "contentAdmin" ? true : false)
                    disabled 
                )
                label(for="role_content_admin" class="form-check-label") Quản trị nội dung
            br
                //- ==/////////================== 
            p Trạng thái 
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked=(record.status == "active" ? true : false)
                    disabled 
                )
                label(for="statusActive" class="form-check-label") Hoạt động
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                    checked=(record.status == "inactive" ? true : false)
                    disabled 
                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động
        .detail-avatar-account
            .detail-avatar-account-detail
                h6 Ảnh đại diện
            .detail-avatar-account-img
                if(record.avatar)
                    img(src=record.avatar, class="avatar" alt="")
                else 
                    img(src="/admin/images/avatarAlter/userAvatar.jpg", class="avatar" alt="")