extends ../../layouts/default.pug

block main 
    .container
        h2(class="mb-4 pt-4") Thông tin chi tiết chuyến bay
        .detail-flight 
            .detail-desc-flight
                div(class="detail-box-head-desc" style="display:flex; justify-content: space-evenly;")
                    h3 #{record.departureCity}
                    //- <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    img(src="/admin/images/detail1.png" style="height:42px;width:auto;", alt="")
                    h3 #{record.arrivalCity}
                div(class="detail-body-desc") 
                    p !{record.description}
                    
            .detail-price-flight
                .detail-price-flight-header Thông tin đặt chỗ
                .detail-price-flight-body
                    h6 #{record.title} 
                    p(style="margin-bottom:8px;") Ngày đi: #{record.departureDate} | #{record.departureTime}
                    p(style="margin-bottom:8px;") Ngày đến: #{record.arrivalDate} | #{record.arrivalTime}
                    div(class="detail-price-flight-body-desc") Giá: 
                        span(style="font-size:600; background: #32CD32; color: #F8F8FF; padding:5px;border-radius:5px;") #{record.price} VNĐ
                    div(class="detail-price-flight-body-desc") Số lượng chỗ: #{record.availableSeats}
                    if(record.status)
                        div(class="mb-4 detail-price-flight-body-desc")
                            span Trạng thái: 
                            if(record.status==="active")
                                span(class="badge badge-success") Hoạt động 
                            else  
                                span(class="badge badge-danger") Dừng hoạt động
                    form(
                        action=`/cart/add/${record.id}`
                        method="POST"
                    )   
                        label(for="quantity") Số lượng vé bạn cần đặt
                        input(
                            id="quantity"
                            class="form-control mb-2"
                            type="number"
                            name="quantity"
                            value="1"
                            min="1"
                            style="max-width:145px;"
                            max=record.availableSeats
                        )
                        button(
                            type="submit"
                            class="btn btn-success btn-block"
                        ) Đặt vé


