extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/sort.pug
include ../../mixins/pagination.pug

block main 
    style. 
        .card-header{
            background-color: #f7f7f7;
        }


    .section-one
        #carouselIndicators.carousel.slide.carousel(data-ride="carousel")
            ol.carousel-indicators
                li(data-target="#carouselIndicators", data-slide-to="0", class="active")
                li(data-target="#carouselIndicators", data-slide-to="1")
                li(data-target="#carouselIndicators", data-slide-to="2")
                li(data-target="#carouselIndicators", data-slide-to="3")
                li(data-target="#carouselIndicators", data-slide-to="4")
                li(data-target="#carouselIndicators", data-slide-to="5")

            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src="images/carousel/carousel1.jpg", alt="slide1")
                .carousel-item
                    img.d-block.w-100(src="images/carousel/carousel2.jpg", alt="slide2")
                .carousel-item
                    img.d-block.w-100(src="images/carousel/carousel3.jpg", alt="slide3")
                .carousel-item
                    img.d-block.w-100(src="images/carousel/carousel4.jpg", alt="slide4")
                .carousel-item
                    img.d-block.w-100(src="images/carousel/carousel5.jpg", alt="slide5")
                .carousel-item
                    img.d-block.w-100(src="images/carousel/carousel6.jpeg", alt="slide6")

        .container.section-one-content
            form(
                form-search
            )
                h2 Tìm chuyến bay
                img(src="images/formSearch1.png" class="formSearch11", alt="")
                .row 
                    div(class="form-group col-6")
                        <i class="fa-solid fa-plane-departure"></i>
                        label(for="departureCity") Nhập điểm khởi hành
                        input(
                            type="text"
                            class="form-control"
                            id="departureCity"
                            name="departureCity"
                            placeholder="Điểm khởi hành"   
                        )
                    div(class="form-group col-6")
                        label(for="departureDate") Ngày đi
                        input(
                            type="date"
                            class="form-control"
                            id="departureDate"
                            name="departureDate"
                        )
                .row
                    div(class="form-group col-6")
                        <i class="fa-solid fa-plane-arrival"></i>
                        label(for="arrivalCity") Nhập điểm đến
                        input(
                            type="text"
                            class="form-control"
                            id="arrivalCity"
                            name="arrivalCity"  
                            placeholder="Điểm đến"    
                        )
                    div(class="form-group col-6")
                        label(for="arrivalDate") Ngày về
                        input(
                            type="date"
                            class="form-control"
                            id="arrivalDate"
                            name="arrivalDate"      
                        )
                div(class="form-group form-submit")
                    button(
                        type="submit"
                        class="btn"
                    ) Tìm chuyến bay
                img(src="images/footerFormSearch.png" class="footerFormSearch", alt="")
                img(src="images/formSearch1.png" class="formSearch12", alt="")

            div(class="overflow") 
    .container.pb-3.pt-3
        .row 
            .col-12 
                +box-head("Danh sách các chuyến bay")
        
        .card.mb-3  
            .card-header Sắp xếp 
            .card-body 
                .row 
                    .col-4 
                        +sort()  
                    .col-6
        .row 
            each item in flights
                .col-12.mb-3.col-md-6.col-lg-4
                    .flight-item
                        a(href=`/home/detail/${item.slug}`) 
                            .inner-content 
                                .inner-title 
                                    h4 #{item.title}
                                    div 
                                        span Khởi hành: 
                                        span.date-format #{item.departureDate}
                                    div 
                                        span #{item.departureTime} - 
                                        span #{item.arrivalTime}
                                
                                .inner-price    
                                    p Giá chỉ từ
                                    p.price.vnd-price #{item.price[1].price}
                            button(type="submit") Đặt vé ngay

        +pagination(pagination)
        
        