extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    
    +alert-success(5000)
    +alert-error(5000)

    h2(class="mb-4") Danh sách đơn vé

    .card.mb-3 
        .card-header Danh sách 
        .card-body
            table(
                class="table table-hover table-sm"
            )
                thead 
                    tr
                        th STT
                        th Mã đơn vé
                        th Thông tin khách hàng
                        th Chi tiết các chuyến bay đã đặt
                        th Tổng tiền 
                tbody 
                    each record, index in records
                        tr
                            td #{index+1}
                            td #{record.id_order}
                            td 
                                p Họ tên: #{record.userInfor.fullName}
                                p Sđt: #{record.userInfor.phone}
                                p Địa chỉ: #{record.userInfor.address}

                            
                            td
                                each flight in record.flights
                                    .row
                                        .col
                                            a(href=`/${prefixAdmin}/flights/detail/${flight.flight_id}`)  #{flight.flightName }
                                        .col
                                            p Số lượng: #{flight.quantity}
                                        .col
                                            if(flight.typeTicket=="firstPrice")
                                                p Loại vé: Thương gia
                                            if(flight.typeTicket=="ecoPrice")
                                               p Loại vé: Phổ thông
                                            if(flight.typeTicket=="businessPrice")
                                                p Loại vé: Kinh doanh
                                            if(flight.typeTicket=="vipPrice")
                                                p Loại vé: VIP
                            td.vnd-price #{record.totalPrice}