extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.pt-3.pb-3
        .row 
            .col-12 
                +box-head("Chuyến bay đã đặt")
        
        .row 
            .col-12 
                if(flights.length>0)
                    div(class="alert alert-success")
                        | Chúc mừng bạn đã đặt vé máy bay thành công! Hi vọng bạn sẽ có những trải nghiệm tuyệt vời tại VietJetAir.   

        if(order)
            .row 
                .col-12 
                    h4(class="mb-2") Thông tin cá nhân 
                    table(class="table table-borderd")
                        tbody 
                            tr 
                                td Họ tên 
                                td 
                                    b #{order.userInfor.fullName}
                            tr 
                                td Số điện thoại 
                                td 
                                    b #{order.userInfor.phone}
                            tr 
                                td Địa chỉ
                                td 
                                    b #{order.userInfor.address}
                    
        .row 
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT 
                            th Mã đơn vé
                            th Ảnh 
                            th Chuyến bay 
                            th Loại vé
                            th Giá
                            th Ngày đi - Ngày đến
                            th Số lượng
                            th Tổng tiền 
                    tbody 
                        if(flights.length > 0)
                            each item, index in flights
                                tr 
                                    td #{index+1}
                                    td(colspan="1") #{item.id_order}
                                    td 
                                        if(item.flightInfor.thumbnail)
                                            img(src=item.flightInfor.thumbnail , alt="Chuyến bay 1" width="80px")
                                        else
                                            img(src="/images/avatarAlter/flightAlter.jpg" , alt="Chuyến bay 1" width="80px")
                                    td #{item.flightInfor.title}
                                    td 
                                        if(item.typeTicket=="firstPrice")
                                            p Hạng thương gia
                                        if(item.typeTicket=="ecoPrice")
                                            p Hạng phổ thông
                                        if(item.typeTicket=="businessPrice")
                                            p Hạng kinh doanh
                                        if(item.typeTicket=="vipPrice")
                                            p Hạng VIP
                                    td #{item.price} VNĐ
                                    td 
                                        div Khởi hành: #{item.flightInfor.departureDate} , #{item.flightInfor.departureTime}
                                        div Đến: #{item.flightInfor.arrivalDate} , #{item.flightInfor.arrivalTime}
                                    td #{item.quantity}
                                    td #{item.totalPrice} VNĐ
                        else 
                            tr 
                                td(colspan="7" class="text-center") Chưa có vé nào được đặt!
                       
                if(totalOrder >0 )
                    h3(class="text-right") Tổng tiền vé: #{totalOrder} VNĐ
                     