extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main

    +alert-success(4000)
    +alert-error(4000)


    style. 
        .form-forgot-password-user{
                background-color: #ffffff;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                padding: 40px 20px;
                //- .col-md-5.col-xl-4
                position: relative;
                top: 80px;
            }


    .container
        .row.justify-content-center
            .col-8.col-md-5.col-xl-4.form-forgot-password-user
                h2(class="text-center") Đổi mật khẩu

                form(
                    action=`/user/password/reset`
                    method="POST"
                )
                    div(class="form-group")
                        label(for="password") Mật khẩu mới *
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required 
                    )
                    div(class="form-group")
                        label(for="confirmPassword") Xác nhận mật khẩu *
                        input(
                            type="password"
                            class="form-control"
                            id="confirmPassword"
                            name="confirmPassword"
                            required 
                    )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Đổi mật khẩu