extends ../../layouts/default.pug 

include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
    +alert-success(5000)
    +alert-error(5000)

    .container.pb-3.pt-3
        .row 
            .col-12 
                +box-head("Giỏ hàng")
        
        .row 
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT 
                            th Ảnh 
                            th Chuyến bay 
                            th Loại vé
                            th Giá
                            th Ngày đi - Ngày đến
                            th Số lượng
                            th Tổng tiền 
                            th Hành động
                    tbody 
                        if(cartDetail.flights.length > 0)
                            each item, index in cartDetail.flights
                                tr 
                                    td #{index+1}
                                    td 
                                        if(item.flightInfor.thumbnail)
                                            img(src=item.flightInfor.thumbnail , alt="Chuyến bay 1" width="80px")
                                        else 
                                            img(src="/images/avatarAlter/flightAlter.jpg", alt="Chuyến bay 1" width="80px")
                                    td 
                                        a(href=`/detail/${item.flightInfor.slug}`) #{item.flightInfor.title}
                                    td 
                                        if(item.typeTicket=="firstPrice")
                                            p Hạng thương gia
                                        if(item.typeTicket=="ecoPrice")
                                            p Hạng phổ thông
                                        if(item.typeTicket=="businessPrice")
                                            p Hạng kinh doanh
                                        if(item.typeTicket=="vipPrice")
                                            p Hạng VIP
                                    td 
                                        p #{item.price} VNĐ
                                    td 
                                        div Khởi hành: #{item.flightInfor.departureDate} , #{item.flightInfor.departureTime}
                                        div Đến: #{item.flightInfor.arrivalDate} , #{item.flightInfor.arrivalTime}
                                    td 
                                        input(
                                            type="number"
                                            name="quantity"
                                            value=item.quantity
                                            min="1"
                                            flight-id=item.flight_id
                                            style="width:60px"
                                        )
                                    td #{item.totalPrice} VNĐ
                                    td 
                                        a(
                                            href=`/cart/delete/${item.flight_id}`
                                            class="btn btn-danger"
                                        ) Xóa
                        else
                            tr 
                                td(colspan="7" class="text-center") Vé máy bay chưa được thêm vào!
                        
                       
                if(cartDetail.totalPrice >0 )
                    h3(class="text-right") Tổng tiền vé: #{cartDetail.totalPrice} VNĐ
                    div(class="text-right mt-3 mb-3")
                        a(href="checkout" class="btn btn-success") THANH TOÁN
    
    script(src="/js/cart.js") 