header.header
  .container-fluid
    .row.align-items-center
      .col-5
        .inner-logo
          a(href=`/${prefixAdmin}/dashboard`) 
            img(src="/admin/images/logo1.png",style="width:70px;height:auto;" alt="")
            span VIETJETair

      .col-7
        div(class="text-right")
          a(
            href=`/${prefixAdmin}/my-account`
            class="btn btn-sm mr-2"
            style="background-color: #dedede;"
          ) 
            .d-flex.align-items-center
              if(user.avatar)
                img(src=user.avatar, alt="", style="width:22px; height:22px; border-radius:50%; display: block; margin: 0 auto; object-fit: cover;")
              else 
                img(src="/admin/images/avatarAlter/userAvatar.jpg", alt="", style="width:22px; height:22px; border-radius:50%; display: block; margin: 0 auto; object-fit: cover;")

              p(class="ml-2 mb-0") #{user.fullName}
          a(
            href=`/${prefixAdmin}/auth/logout`
            class="btn btn-danger btn-sm"
          ) Đăng xuất

