.sider 
    .inner-menu 
        ul 
            li 
                a(href=`/${prefixAdmin}/dashboard`)
                    <i class="fa-solid fa-house mr-3"></i>
                    span Tổng quan
            li 
                a(href=`/${prefixAdmin}/flights`) 
                    <i class="fa-solid fa-plane-departure  mr-3"></i>
                    span Quản lý chuyến bay
            li 
                a(href=`/${prefixAdmin}/flight-routes`) 
                    <i class="fa-solid fa-route mr-3"></i>
                    span Quản lý đường bay
            li 
                a(href=`/${prefixAdmin}/orders`) 
                    <i class="fa-solid fa-shop  mr-3"></i>
                    span Quản lý Đơn vé
            li 
                a(href=`/${prefixAdmin}/accounts`) 
                    <i class="fa-solid fa-user-tie mr-3"></i>
                    span Quản lý Tài khoản Admin
            li 
                a(href=`/${prefixAdmin}/users`)
                    <i class="fa-solid fa-user mr-3"></i>
                    span Quản lý Tài khoản Client
    a(
        href=`/${prefixAdmin}/auth/logout`
        class="btn btn-danger btn-sm logout-sider-admin"
    ) Đăng xuất 
        <i class="fa-solid fa-arrow-right-from-bracket"></i>

